body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 25px 10px 25px;
}
.contact {
    width: 100%;
    height: 150px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}   
h1 {
    margin-left: 200px;
    font-size: 58px;
    font-weight: normal;
}
h2 {
    padding-left: 15px;
    font-size: 30px;
    font-weight: normal;
    color: lightslategrey;
}
.form {
    display: flex;
    justify-content: center;
}
.input {
    width: 700px;
    height: 60px;
    background-color: #eee;
    border-radius: 5px;
    
}
label {
    margin: 10px;
}
#input {
        
    border-radius: 5px;
    margin: 10px;
}
textarea {
        position: absolute;
        display: inline;
}
#sendMessage {
    display: inline;
}
.socialMedia {
    display: flex;
    justify-content: center;
}
hr {
    width: 320px;
    margin: 0 auto;
    padding: 0;
}
h3 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

}
a {
    display: flex;
    padding: 25px;
}
#messageButton {
    color: blue;
}


    

    